    <div  class="jumbotron">
    <h1>BLOG</h1>
    <p>Edit Page</p>
    <p id="notice"><%= notice%></p>
    <p>
     </a>
    </p>
    </div>



<%= render 'form' %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', administrative_post_path %>
