      <div class="jumbotron">

    <h1>BLOG</h1>
    <p>New Post</p>
    <p id="notice"><%= notice%></p>
    <p>
     </a>
    </p>
    </div>




<%= render 'form' %>

<%= link_to 'Back', posts_path,:class => "btn btn-primary"  %>
